
  .pic{
    object-fit: cover;
    margin-top: 40px;
    height:200px;
    width: 200px;
    border-radius: 50%;
    background-color:whitesmoke;
    
   
  }

.intro  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto Slab;
    line-height: 0px;  
    color:#112A46;
}
.intro > h1{
    font-size: 96px;
    
}
.intro > h2{
    font-size: 30px;
   
}
body{
    background-color: #ACC8E5 ;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  background-color: 0;
  margin-top: 20px;
}
.flex-container > button  {
  background-color: rgb(255, 255, 255);
  color: #112A46;
  width: 190px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  border-radius: 20px;
}

  .project{
    margin-top: 0%;
    font-size: 80px;
    color:#112A46;
    text-align: center;
}
.project-flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #ACC8E5;
    justify-content:center;
  }
  
  .project-flex-container > div {
    background-color: #f1f1f1;
    width: 220px;
    height: 150px;
    margin: 30px;
    
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  
  
  .about{
    text-indent: 30px;
    margin-top: 0%;
    font-size: 80px;
    color: #112A46;
    text-align: left;

  }
  .grid-item1 > img{
    background-color: #D9D9D9;
    height: 450px;
    width:350px;
  }
  .grid-item2{
    color:white;
    margin-top: 40px;
    text-align: left;
    text-indent: 20px;
  }
  .form{
    margin-left: 5%;
    
    width: auto;
    max-width: 600px;
    height: auto;
   
  }
  .form > .mb-3 > #exampleFormControlInput1{
    height: 50px;
    font-size: 25px;
    margin-bottom: 10px;
   
  }
  .form > .mb-3 > textarea{
    height: 200px;
    
  }

 
    
  
  .contact{
    text-indent: 95px;
    margin-top: 0%;
    font-size: 80px;
    color: #112A46;
    text-align: left;
    margin-bottom: 10px;

  }
  .btn-text-left{
    text-align: right;
    
  }
  .btn-text-left > button{
   font-size: 20px;
    
  }
  .icon {
    padding:40px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    color:white;
   
  }
  .icon > svg{
    height: 90px;
    width:90px;
  }
  
  /*About me Css*/
  .card{
    display: flex;
    flex-wrap: wrap;
   
}
.image{
    flex: 1 1 120px;
    aspect-ratio: 1/1;
    text-align: center;
    
}
.image>img{
    width: 100%;
    max-width: 300px;
    height: auto;
   
}
.content{
    flex: 1 1 200px;
    font-size: 30px;
  
}
.size{
    width:auto;
    height: auto;
    margin-left: 10%;
    margin-right:10%;
}


 @media screen and (max-width: 360px) {
  .intro > h1{
    font-size: 60px;
    text-align: center;
  }
  .intro > h2{
    font-size: 30px;
   text-align: center;
  }
  .flex-container > button{
    width: 90px;
    height: 70px;;
    font-size: 15px;
    font-weight: bold;
  } 
  .project{
    font-size: 40px;
  }

  .contact{
    font-size: 40px;
    text-align: center;
    text-indent: 0px;
  }

  .form{
    width: 340px;
    margin:10px;
  }

  .icon{
 
    padding:40px;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}
  
  .icon>svg{
    width:50px;
    height:50px;
    color:#112A46
  }
  .about{
    font-size: 30px;
    text-align: center;
  }
  .form > .btn-text-left{
    text-align: center;
  }
 
}
 